@import url('../css/fonts.css');

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /* theme font-family */
    --Nerko_One: 'Nerko_One',cursive;
    --PT_Sans: 'PT_Sans',cursive;
    --Merriweather: 'Merriweather',cursive;
    --Castoro: 'Castoro',cursive;
    --Roboto: 'Roboto',cursive;
}

/* --------------------Global Classes-------------------*/
a{
    text-decoration: none;
    color: #3f4954;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/* -------------x-------Global Classes-------x------------*/

/* --------------------navbar--------------------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem; /* to collapse navigation menu */
    min-height: 40vh; /* to specify height to the nav */
    overflow: hidden;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Nerko_One);
}

.nav .social{
    padding: 1.4rem 0rem;
}


/* --------x-----------navbar---------x-----------*/